<div class="ui center aligned text container">
    <h1 class="ui huge header"> starter template</h1>
    <p class="lead">
      only contact us if you are logged in
    you can log in here
    </p>
    <p class="lead">
        cool 
    </p>
  </div>