<div class="ui center aligned text container">
  <% if(use){ %>
  <h1 class="ui huge header"> Thank you for visiting </h1>
    <p class="lead">
      Contact:-backendlifetech@gmail.com
    </p>
  
    <%}%>


<% if (!use) {%>
    <div class="ui warning message">
      <i class="close icon"></i>
      <div class="header">
        You must Login before you can view this paage!
      </div>
      Visit our Login page, then try again
    </div>
    <a href="/auth/login">
      <button class="ui button" >
      Login
      </button></a>
  <% } %>


    <i class='ng flag'></i>
  </div>