<div class="ui center aligned text container">
    <h1 class="ui huge header"> starter template</h1>
    <p class="lead">
      only contact us if you are logged in
    you can log in here
    </p>
    <p class="lead">
        cool 
    </p>

    <div class="ui warning message">
      <i class="close icon"></i>
      <div class="header">
        You must register before you can do that!
      </div>
      Visit our registration page, then try again
    </div>


    <i class='ng flag'></i>
  </div>