<div class="ui center aligned text container">
  <% if (use) {%>
  <h1 class="ui huge header">Welcome</h1>
    <p class="lead">
You are currently logged in as:<%=use.name %>
    </p>
<%} else{%>
  <div class="ui warning message">
    <i class="close icon"></i>
    <div class="header">
      You must Login before you can view this paage!
    </div>
    Visit our Login page, then try again
  </div>
    <a href="/auth/login">
      <button class="ui button" >
      Login
      </button></a>
<%}%>


  </div>