<div class="ui center aligned text container">
    <h1 class="ui huge header"> starter template</h1>
    <p class="lead">
      Welcome you are currently logged in Name of person
    you can log out here
    </p>
    <p class="lead">
      you are not currently logged in you  can log out here 
    </p>
  </div>