
<div class="ui center aligned basic segment">
    <div class="ui  form">
    <div class="field">
      <label>Username</label>
      <div class="ui left icon input">
        <input type="text" placeholder="Username">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
        <input type="password">
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="ui blue submit button">Login</div>
  </div>

  <div class="ui horizontal divider">
    Or
  </div>
  <div class="middle aligned column">
    <a href="/auth/google">
    <button class="ui google plus button" >
      <i class="google plus icon"></i>
    Sign in with  Google 
    </button></a>
  </div>

  <div class="ui horizontal divider">
    Or
  </div>
  <a href="/auth/signup">
    <div class="ui teal labeled icon button" >
      Sign up 
      <i class="add icon"></i>
    </div>
  </a>
  
  
</div>