
<div class="ui center aligned basic segment">

  <form class="ui form attached fluid segment" method="POST" action="/auth/login">
    <% if (ers) {%>
      <div class="ui red message">username or password invalid</div>
      <%}%>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" name="username" type="text" required>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <button class="ui button">Submit</button>
  </form>
  

  <div class="ui horizontal divider">
    Or
  </div>
  <div class="middle aligned column">
    <a href="/auth/google">
    <button class="ui google plus button" >
      <i class="google plus icon"></i>
    Sign in with  Google 
    </button></a>
  </div>

  <div class="ui horizontal divider">
    Or
  </div>
  <a href="/auth/signup">
    <div class="ui teal labeled icon button" >
      Sign up 
      <i class="add icon"></i>
    </div>
  </a>
  
  
</div>